

<!DOCTYPE html>
<html lang="en" >

<head>

	<meta charset="UTF-8">

	<title>CodePen - ng sort filter table</title>

</head>

<body translate="no" >
<div ng-app="sortTable" ng-controller="mainCtrl as main" class="containerAdditionTable">
	<h1>{{ main.title }}</h1>
	<div class="filter-table">
		<input type="text" placeholder="Search table" ng-model="searchPerson"/>
	</div>
	<table>
		<thead>
		<tr>
			<th ng-click="main.changeSortType('name')">Name
				<span ng-show="main.isSortType('name') " ng-class="{'down' : main.isOrderedReverse(), 'up': !main.isOrderedReverse()}"></span>
			</th>
			<th ng-click="main.changeSortType('surname')">Surname
				<span ng-show="main.isSortType('surname') " ng-class="{'down' : main.isOrderedReverse(), 'up': !main.isOrderedReverse()}"></th>
			<th ng-click="main.changeSortType('age')">Age
				<span ng-show="main.isSortType('age') " ng-class="{'down' : main.isOrderedReverse(), 'up': !main.isOrderedReverse()}"></th>
			<th ng-click="main.changeSortType('id')">Id
				<span ng-show="main.isSortType('id') " ng-class="{'down' : main.isOrderedReverse(), 'up': !main.isOrderedReverse()}"></th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="person in main.persons | filter: searchPerson | orderBy: main.orderType : main.orderReverse">
			<td>{{ person.name }}</td>
			<td>{{ person.surname }}</td>
			<td>{{ person.age }}</td>
			<td>{{ person.id }}</td>
		</tr>
		</tbody>
	</table>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js'></script>

<script id="rendered-js" >
	(function () {

		angular.module('sortTable', []).
		controller('mainCtrl', function () {
			var main = this;

			main.title = "ng filter and sort table";

			main.persons = [{
				name: "Joe",
				surname: "Allen",
				age: 33,
				id: 1 },
				{
					name: "Alan",
					surname: "Kowalsky",
					age: 63,
					id: 2 },
				{
					name: "Victor",
					surname: "Scendell",
					age: 15,
					id: 3 },
				{
					name: "Jeniffer",
					surname: "Lescott",
					age: 44,
					id: 4 },
				{
					name: "Paul",
					surname: "Finley",
					age: 70,
					id: 5 },
				{
					name: "John",
					surname: "Batshuai",
					age: 23,
					id: 6 }];


			main.orderType = 'id';
			main.orderReverse = false;

			main.changeSortType = function (orderType) {
				if (main.orderType == orderType) {
					main.orderReverse = !main.orderReverse;
				} else {
					main.orderType = orderType;
				}
			};

			main.isSortType = function (orderType) {
				return main.orderType == orderType;
			};

			main.isOrderedReverse = function () {
				return !main.orderReverse;
			};
		});
	})();
	//# sourceURL=pen.js
</script>



</body>

</html>

