

<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Adisyon Verileri</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/accounting.css'>
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/preloader.css" rel="stylesheet">


</head>

<body>
<div class="container-fluid mainTitleIncome">ADİSYON VERİLERİ</div>

<div class="wrapper">

    <label class="dateLabel">
        <input type="text" class="dateselect" id="startDate" required="required" autocomplete="off"/>
        <span>Adisyon Kapanış Tarihi</span>

    </label>

    <label class="dateLabelBtn">
        <button type="button" onclick="document.getElementById('vallInc').click();">Görüntüle</button>
    </label><br/>

    <p>
        <h4 style="color: white; font-size: 16px;"><p>* Seçilen tarihte saat 08:00 ile sonraki gün saat 08:00 arasında bulunan adisyonlar görüntülenir.</p>
    <p>* Adisyonun kapatıldığı tarihe göre görüntüleme yapılır.</p></h4>

    </p>

</div>
<div class="wrapper1" ng-app="sortTable" ng-controller="mainCtrl">
    <div  id="generic_price_table">
        <section>
            <div class="container valueIncomeContainer">
                <div class="row">
                    <div style="display: none" ng-click="loadAllAddition()" class="col-md-12 valueIncome" id="vallInc"></div>
                </div>

            </div>
        </section>

    </div>
    <div style="display: none" class="col-md-6 containerAdditionTableX" id="containerAdditionTable">
        <div class="preloader" id="preloader">
            <div class="sk-spinner sk-spinner-pulse"></div>
        </div>
        <div ng-app="sortTable" ng-controller="mainCtrl" >
            <div class="filter-table">
                <input type="text" placeholder="Anahtar kelimeyi ara..." ng-model="searchPerson"/>
            </div>
            <table class="additionTable">
                <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Nakit</th>
                    <th>Kredi Kartı</th>
                    <th>Toplam</th>
                    <th>Masa</th>
                    <th>Detay</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in datas | filter: searchPerson">
                    <td>{{ x.additionFinishDate }}</td>
                    <td>{{ x.cashPayment }}</td>
                    <td>{{ x.creditCardPayment }}</td>
                    <td>{{ x.discountedPayment }}</td>
                    <td>{{ x.tableName }}</td>
                    <td><button type="button" ng-click="loadAdditionPageByTableName(x.id)">Detayı Görüntüle</button>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js'></script>
-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js'></script>
<!--<script src="js/other/bootstrap-datepicker-1.7.1.min.js"></script>
<script src="js/other/jquery-3.2.1.min.js"></script>
<script src="js/other/angular-1.6.9.min.js"></script>-->
<script src="js/globalFunction.js"></script>
<script src="js/main.js"></script>
<script src="js/additionPrint.js"></script>
<script src="js/addition.js"></script>
<script src='-config.js'></script>
<script src="dataManagement/assets/js/datePicker.js"></script>
<script id="rendered-js">
    datepicker();
</script>


</body>

</html>

