

<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Gider Yönetimi</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/accounting.css'>
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/preloader.css" rel="stylesheet">


</head>

<body>
<div class="container-fluid mainTitleIncome">GİDER YÖNETİMİ</div>

<div class="wrapper">

    <label class="dateLabel">
        <input type="text" class="dateselect" id="startDate" required="required" autocomplete="off"/>
        <span>Başlangıç Tarihi</span>

    </label>
    <label class="dateLabel">
        <input type="text" class="dateselect" id="finishDate" required="required" autocomplete="off"/>
        <span>Bitiş Tarihi</span>
    </label>

    <label class="dateLabelBtn">
        <button type="button" id="vallInc" onclick="setDailyOutcomeValues();">Görüntüle</button>
    </label><br/>

    <p>
        <h4 style="color: white; font-size: 16px;"><p>* Gün sonu almak isterseniz Bitiş Tarihini boş bırakın. Başlangıç tarihine bulunduğunuz günden bir önceki günün tarihini girin.</p>
    <p>* İki tarih arasında toplam verileri öğrenmek isterseniz hangi tarihler arasında olacağını girin.</p></h4>

    </p>

</div>
<div class="wrapper1" ng-app="sortTable" ng-controller="mainCtrl">
    <div  id="generic_price_table">
        <section>
            <div class="container valueIncomeContainer">
                <div class="row">
                    <div ng-click="loadOutcomeAddition()" class="col-md-12 valueIncome">
                        <div class="generic_content clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">

                                    <div class="head_bg" style="border-color: #67de5f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #67de5f;"></div>
                                    <div class="head">
                                        <span>Toplam Gider</span>
                                    </div>

                                </div>

                                <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency" id="totalOutcome"></span>
                                </span>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div ng-click="loadOutcome()" class="col-md-12 valueIncome">
                        <div class="generic_content clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">

                                    <div class="head_bg" style="border-color: #97c2d6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #97c2d6;"></div>
                                    <div class="head">
                                        <span>Personel Ödemeleri</span>
                                    </div>

                                </div>

                                <div class="generic_price_tag clearfix">
                                    <span class="price">
                                    <span class="currency" id="totalPersonalOutcome"></span>
                                </span>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div id="outcomeTotalValues">

                    </div>
                </div>

            </div>
        </section>

    </div>

    <div style="display: none" class="col-md-6 containerAdditionTable" id="containerOutcomeTable">
        <div class="preloader" id="preloader">
            <div class="sk-spinner sk-spinner-pulse"></div>
        </div>
        <div ng-app="sortTable" ng-controller="mainCtrl" >
            <div class="filter-table">
                <input type="text" placeholder="Anahtar kelimeyi ara..." ng-model="searchPerson"/>
            </div>
            <table class="additionTable">
                <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Ödeme</th>
                    <th>Türü</th>
                    <th>Personel Adı</th>
                    <th>Açıklama</th>
                    <th>İşlemler</th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in datas | filter: searchPerson">
                    <td>{{ x.date }}</td>
                    <td>{{ x.price }}</td>
                    <td>{{ x.type }}</td>
                    <td>{{ x.personelName }}</td>
                    <td>{{ x.comment }}</td>
                    <td><button type="button" ng-click="loadEditOutcomeModal(x.id)">Düzenle</button>
                        <button type="button" ng-click="loadDeleteOutcomeModal(x.id)">Sil</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal" id="yesNoModal" style="z-index: 10;width: 50%; transform: translate(50%,1%);">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close"
                  onclick="document.getElementById('yesNoModal').style.display = 'none';">&times;</span>
            <h2>Gider Verisini Sil</h2>
        </div>
        <div class="modal-body">
            <h4 style="color:red;">Gider verisini silmek istediğinize emin misiniz?</h4>
        </div>
        <div class="modal-footer">
            <button data-value="" id="yesButton" onclick="editOutcomeComplete(1)">Evet</button>
            <button data-value="" id="noButton" onclick="document.getElementById('yesNoModal').style.display = 'none';">Hayır</button>
        </div>
    </div>

</div>
<div class="modal" id="editOutcomeModal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close"
                  onclick="document.getElementById('editOutcomeModal').style.display = 'none';">&times;</span>
            <h2>Gider Verisini Düzenle</h2>
        </div>
        <div class="modal-body">
            <b>Ödeme Tarihi:&nbsp;</b><h4 id="pmtDate"></h4><br/>
            <b>Ödeme:&nbsp;</b><h4 style="color: red" id="totalPmt"></h4><br/>
            <b>Gider Tipi&nbsp;</b><h4 style="color: red" id="cashType"></h4><br/>
            <b>Personel Adı:&nbsp;</b><h4 id="personelEdit"></h4><br/>
            <input id="cashEdit" placeholder="Yeni Ödeme Miktarı" onchange="setValueById('newTotalPmt',parseFloat(document.getElementById('cashEdit').value))" type="number"><br/><p></p>
            <b>Yeni Ödeme:&nbsp;</b><h4 id="newTotalPmt" style="color: red"></h4><br/>

        </div>
        <div class="modal-footer">
            <button data-value="" id="editOutcomeButton" onclick="editOutcomeComplete(0)">Tamamla</button>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js'></script>
-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js'></script>
<!--<script src="js/other/bootstrap-datepicker-1.7.1.min.js"></script>
<script src="js/other/jquery-3.2.1.min.js"></script>
<script src="js/other/angular-1.6.9.min.js"></script>-->
<script src="js/globalFunction.js"></script>
<script src="js/main.js"></script>
<script src="js/accounting.js"></script>
<script src='-config.js'></script>
<script src="dataManagement/assets/js/datePicker.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    datepicker();
</script>


</body>

</html>

