

<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Mutfak-Bar-Nargile</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/accounting.css'>
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/preloader.css" rel="stylesheet">

    <!--    <link rel='stylesheet' href='css/other/bootstrap-3.3.7.css'>
        <link rel='stylesheet' href='css/other/bootstrap-datepicker-1.7.1.css'>-->



</head>

<body>
<div class="container-fluid mainTitleIncome">MUTFAK, BAR VE NARGİLE SATIŞLARI</div>

<div class="wrapper">

    <label class="dateLabel">
        <input type="text" class="dateselect" id="startDate" required="required" autocomplete="off"/>
        <span>Başlangıç Tarihi</span>

    </label>
    <label class="dateLabel">
        <input type="text" class="dateselect" id="finishDate" required="required" autocomplete="off"/>
        <span>Bitiş Tarihi</span>
    </label>

    <label class="dateLabelBtn">
        <button type="button" onclick="setSaleByRayonValues();">Görüntüle</button>
    </label><br/>

    <p>
    <h4 style="color: white; font-size: 16px;"><p>* Gün sonu almak isterseniz Bitiş Tarihini boş bırakın. Başlangıç tarihine bulunduğunuz günden bir önceki günün tarihini girin.</p>
    <p>* İki tarih arasında toplam verileri öğrenmek isterseniz hangi tarihler arasında olacağını girin.</p></h4>

    </p>

</div>
<div class="wrapper1" ng-app="sortTable" ng-controller="mainCtrl">
    <div  id="generic_price_table">
        <section>
            <div class="container valueIncomeContainer">
                <div class="row">
                    <div ng-click="loadSaleListByRayon(1)" class="col-md-12 valueIncome">
                        <div class="generic_content clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">

                                    <div class="head_bg" style="border-color: #67de5f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #67de5f;"></div>
                                    <div class="head">
                                        <span>Mutfak</span>
                                    </div>

                                </div>

                                <div class="generic_price_tag clearfix">
                                <span class="price">Gelir:&nbsp;
                                    <span class="currency" id="kitchen"></span>
                                </span>
                                    <span class="price">Satış Adeti:&nbsp;
                                    <span class="currency" id="kitchenQty"></span>
                                </span>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div ng-click="loadSaleListByRayon(2)" class="col-md-12 valueIncome">
                        <div class="generic_content clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">

                                    <div class="head_bg" style="border-color: #97c2d6 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #97c2d6;"></div>
                                    <div class="head">
                                        <span>Bar</span>
                                    </div>

                                </div>

                                <div class="generic_price_tag clearfix">
                                    <span class="price">Gelir:&nbsp;
                                    <span class="currency" id="bar"></span>
                                </span>
                                    <span class="price">Satış Adeti:&nbsp;
                                    <span class="currency" id="barQty"></span>
                                </span>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div ng-click="loadSaleListByRayon(3)" class="col-md-12 valueIncome">
                        <div class="generic_content clearfix">
                            <div class="generic_head_price clearfix">
                                <div class="generic_head_content clearfix">

                                    <div class="head_bg" style="border-color: #f3ac55 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f3ac55;"></div>
                                    <div class="head">
                                        <span>Nargile</span>
                                    </div>

                                </div>

                                <div class="generic_price_tag clearfix">
                                    <span class="price">Gelir:&nbsp;
                                    <span class="currency" id="nargile"></span>
                                </span>
                                    <span class="price">Satış Adeti:&nbsp;
                                    <span class="currency" id="nargileQty"></span>
                                </span>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </section>

    </div>
    <div style="display: none" class="col-md-6 containerAdditionTable  " id="containerAdditionTable">
        <div class="preloader" id="preloader">
            <div class="sk-spinner sk-spinner-pulse"></div>
        </div>
        <div ng-app="sortTable" ng-controller="mainCtrl" >
            <div class="filter-table">
                <input type="text" placeholder="Anahtar kelimeyi ara..." ng-model="searchPerson"/>
            </div>
            <table class="additionTable">
                <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Ürün</th>
                    <th>Adet</th>
                    <th>Toplam Fiyat</th>
                    <th>Masa</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in datas | filter: searchPerson">
                    <td>{{ x.salesDate }}</td>
                    <td>{{ x.productName }}</td>
                    <td>{{ x.quantity }}</td>
                    <td>{{ x.totalPrice }}</td>
                    <td>{{ x.tableName }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js'></script>
-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js'></script>
<!--<script src="js/other/bootstrap-datepicker-1.7.1.min.js"></script>
<script src="js/other/jquery-3.2.1.min.js"></script>
<script src="js/other/angular-1.6.9.min.js"></script>-->
<script src="js/globalFunction.js"></script>
<script src="js/main.js"></script>
<script src="js/accounting.js"></script>
<script src='-config.js'></script>
<script src="dataManagement/assets/js/datePicker.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    datepicker();
</script>


</body>

</html>

